// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.background{
    height: 52vh;
    background: lighten(#1e3799,0%);
}
.wave-container {
    position: relative;
    background: lighten(#1e3799,0%);
    height: 65vh;
}

.wave {
    position: absolute;
    height: 70px;
    width: 100%;
    background: lighten(#1e3799,0%);
    bottom: 0;
}

.wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
}
.wave::after {
    width: 55%;
    height: 100%;
    background: lighten(#1e3799,0%);
    left: -1.5%;
    top: 40%;
}

.body{
    height: 100vh;
    background-color: #fff
}

.sld-title{
    color: lighten(#e55039,0%);
}
